.terms-privacy {
  h1 {
    color: $supremeBlue;

    @media (min-width: 992px) {
      margin-bottom: 1rem;
      font-size: 2.375rem;
    }
  }

  h3 {
    color: $supremeBlue;
    letter-spacing: 0;
  }

  p,
  li {
    line-height: 1.625rem;
  }

  li {
    margin-bottom: 0.725rem;
  }

  ul {
    padding-left: 2.5rem;
    list-style: inside;
    flex-direction: column;
    font-family: $supremeSubHeaderFont;
  }

  a,
  span {
    font-weight: 400;
    color: $supremeBlue;
    transition: 300ms;
  }

  a:hover {
    text-decoration: none;
  }
}
