.btn {
  &-supreme {
    background: $supremeGreen;
    color: $supremeWhite;
    font-family: $supremeSubHeaderFont, sans-serif;
    transition: 300ms;
    border-radius: 0;

    &-alt {
      background: none;
      color: $supremeWhite;
      border: 1px solid $supremeWhite;
      border-radius: inherit;

      &:hover {
        background: $supremeWhite;
        color: $supremeBlue;
      }
    }

    &:hover {
      background: $supremeBlue;
      color: $supremeWhite;
      text-decoration: none;
    }
  }
}
