.footer {
  background: $supremeBlue;
  color: $supremeWhite;
  padding: 2.5rem 1rem 2rem;
  border-top: 3rem solid #64ba47;
  font-family: $supremeSubHeaderFont;
  font-weight: 500;
  text-align: center;

  &-alt {
    border-top: none;
  }

  svg {
    width: 50%;
    margin: 0 auto 0.5rem;

    .cls-1 {
      fill: $supremeWhite;
    }
  }

  p {
    font-size: 1rem;
  }

  @media (min-width: 767px) {
    text-align: left;
  }

  h6 {
    margin-bottom: 1.5rem;
    font-family: $supremeSubHeaderFont;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &-contact {
    @media (min-width: 767px) {
      padding: 0 0 1rem;
    }

    &-info {
      a {
        margin-bottom: 1rem;
        color: $supremeWhite;
        transition: 300ms;
        display: block;

        &:hover {
          text-decoration: none;
          opacity: 0.7;

          i {
            color: $supremeGreen;
            opacity: 1;
          }
        }
      }
    }

    p {
      color: $supremeWhite;
      line-height: 1.375rem;
    }

    &-languages {
      color: $supremeWhite;
      margin: 1rem 0 1.8rem;
      padding: 1.8rem 0 1rem;
      border-block: 0.0625rem solid rgba($supremeWhite, 0.4);
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 768px) {
        margin: 0;
        padding: 0;
        border-block: none;
        align-items: flex-start;
      }

      p {
        color: $supremeWhite;
        display: inline-block;
        margin: 0 0 0 0.5rem;
      }

      img {
        height: 30px;
        width: 30px;
        display: inline-block;
      }

      &-language {
        margin-bottom: 0.8rem;
      }
    }
  }

  &-languages {
    padding: 0;
  }

  &-twitter {
    @media (min-width: 767px) {
      padding: 0;
    }

    blockquote {
      font-family: $supremeHeaderFont;
      font-size: 36px;
      font-weight: 400;
      line-height: 42px;

      small {
        font-family: $supremeSubHeaderFont;
        font-size: 1rem;

        span {
          color: $supremeGreen;

          a {
            color: $supremeGreen;
            text-decoration: none;
            transition: 300ms;

            &:hover {
              color: $supremeWhite;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  &-legal {
    padding: 0;

    li {
      list-style: none;
    }

    .menu {
      padding: 0;
    }

    .widget {
      margin: 0;
    }

    .menu-item {
      margin: 0 0 0.625rem;

      a {
        color: $supremeWhite;

        &:hover {
          color: $supremeGreen;
          text-decoration: none;
        }
      }
    }
  }

  &-social {
    @media (min-width: 767px) {
      padding: 0;
    }

    &-wrapper {
      border-top: 1px solid rgba($supremeWhite, 0.4);
    }

    &-links {
      margin: 0;
      display: inline-block;

      &-link {
        margin: 0 0.25rem;
        display: inline-block;

        i {
          transition: 300ms;
          &:hover {
            color: $supremeWhite;
          }
        }
      }
    }

    p {
      color: $supremeWhite;
    }
  }

  &-icons {
    display: flex;
    align-items: center;

    img {
      width: 100%;
      padding: 1rem 2rem;

      @media (min-width: 992px) {
        padding: 1rem 0 1rem 2rem;
      }
    }
  }
}

.sub-footer {
  background: #29354c;
  padding-block: 1rem;

  small {
    color: $supremeWhite;
  }
}
