body.admin-bar {
  header,
  .navbar {
    top: 32px;
  }
}

.header {
  .navbar {
    background: rgba($supremeWhite, 0.9);
    display: flex;
    flex-direction: row;

    @media (min-width: 992px) {
      background: none;
    }

    .cls-1,
    .cls-2 {
      fill: $supremeBlue;
      transition: 500ms ease;

      @media (min-width: 992px) {
        fill: $supremeWhite;
      }
    }

    .cls-5 {
      fill: $supremeBlue;
    }

    a:hover .st0 {
      fill: $supremeBlue;
    }

    &-scrolled {
      background: rgba($supremeWhite, 1);

      @media (min-width: 992px) {
        background: rgba($supremeWhite, 0.9);
      }

      .cls-1,
      .cls-2,
      .cls-5 {
        fill: $supremeBlue;
        transition: 300ms;
      }

      ul li a {
        color: $supremeBlue;

        .btn-supreme-alt {
          color: $supremeBlue;
          border: 1px solid $supremeBlue;
        }
        &:hover .btn-supreme-alt {
          background: $supremeBlue;
          color: $supremeWhite;
        }
      }
    }

    &-brand {
      #sf_logo {
        height: 32px;

        @media (min-width: 992px) {
          height: 59px;
        }
      }
    }

    &-collapse {
      .navbar {
        &-nav {
          display: flex;
          align-items: center;
          margin-bottom: 0;

          li {
            margin: 0 0.5rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 0.875rem;
            text-align: center;
            transition: 300ms;
            display: inline-block;

            > .current-menu-item {
              background: none !important;

              a {
                color: $supremeBlue !important;
              }
            }

            a {
              font-size: 0.875rem;
            }

            .btn-supreme-alt {
              color: $supremeBlue;
              border: 1px solid $supremeBlue;

              &:hover {
                color: $supremeBlue;

                > a {
                  background: $supremeBlue;
                  color: $supremeWhite;
                }
              }
            }

            a {
              color: $supremeWhite;
              padding: 0.625rem 0;
              font-size: 0.875rem;
              line-height: 0.875rem;
              font-family: $supremeSubHeaderFont;
              text-transform: uppercase;
              letter-spacing: -1px;

              &:hover {
                cursor: pointer;
                opacity: 0.7;
                text-decoration: none;
              }
            }

            strong {
              font-weight: 900;
              stroke: $supremeWhite;
              stroke-width: 2;
            }

            ul.sub-menu {
              background: $supremeWhite;
              padding: 0;
              flex-direction: column;
              position: absolute;
              transition: 400ms ease;
              transform: translateY(0.625rem);

              li {
                margin: 0;
                text-align: left;

                > .current-menu-item {
                  background: $supremeGreen;

                  &:hover {
                    opacity: 1;
                  }

                  a {
                    color: $supremeWhite;
                  }
                }

                &:hover {
                  opacity: 1;
                }

                .current-menu-item {
                  background: $supremeGreen;
                  color: $supremeWhite;
                }

                a {
                  color: $supremeBlue;
                  width: 100%;
                  padding: 0.625rem;
                  display: block;

                  &:hover {
                    background: $supremeGreen;
                    color: $supremeWhite !important;
                    cursor: pointer !important;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    &-not-front,
    &-scrolled {
      background: rgba($supremeWhite, 0.9);

      .navbar-brand #sf_logo {
        .cls-1,
        .cls-2 {
          fill: $supremeBlue;
        }
      }
      .st0,
      .cls-1,
      .cls-2 {
        fill: $supremeBlue;
      }

      ul li {
        a {
          color: $supremeBlue !important;
        }
      }
      .btn-supreme {
        a {
          color: white !important;
        }

        &-alt {
          color: $supremeBlue;
          border: 1px solid $supremeBlue !important;

          &:hover {
            background: $supremeBlue;
            color: $supremeWhite;

            a {
              color: $supremeWhite !important;
            }
          }
        }
      }
    }

    .show {
      li.menu-item {
        padding-block: 0.8rem;

        a {
          color: $supremeBlue;
        }
      }
    }

    &-toggler {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
    }
  }

  .navbar-collapse .navbar-nav li ul.sub-menu li.current-menu-item {
    background: $supremeGreen;

    &:hover {
      opacity: 1;
    }
    a {
      color: $supremeWhite !important;
    }
  }

  .modal {
    &-header {
      background: $supremeBlue;

      &-title {
        color: $supremeWhite;
        width: 100%;
        margin: 0;
        font-family: $supremeSubHeaderFont;
        text-align: center;
      }

      .close {
        background: $supremeBlue;
        width: 3rem;
        height: 3rem;
        border: 0.0625rem solid $supremeWhite;
        border-radius: 1.5rem;
        text-transform: uppercase;
        transition: 300ms;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -1rem;
        right: -1rem;
        z-index: 9999;

        &:hover {
          background: $supremeWhite;
          opacity: 1;

          i {
            color: $supremeBlue;
          }
        }

        span {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            color: $supremeWhite;
            margin: 0;
            top: 0;
          }
        }
      }
    }
  }
}

.navbar-nav .menu-item-has-children:hover a:hover {
  opacity: 0.7;
}

.navbar-nav .menu-item-has-children {
  a:hover {
    opacity: 0.7;
  }
  .sub-menu {
    display: none;
  }
}
.navbar-nav .menu-item-has-children:hover > .sub-menu {
  display: flex;
}

.navbar-nav .menu-item-has-children a:hover ~ .sub-menu,
.sub-menu:hover {
  display: flex;
  z-index: 9999;
}

.btn-supreme-alt:hover a {
  color: $supremeBlue !important;
  opacity: 1 !important;
}
.navbar-scrolled .btn-supreme-alt:hover a {
  color: $supremeWhite !important;
  opacity: 1 !important;
}

.nav-get-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  position: absolute;
  top: 0.25rem;
  right: calc(56px + 1.5rem);

  @media (min-width: 992px) {
    position: unset;
    top: unset;
    right: unset;
  }

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}
