.error404 {
  #main-alt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .col-md-8 {
      color: $supremeWhite;
      border-right: 1px solid $supremeDarkGrey;
    }
  }

  li {
    list-style: none;
  }

  form {
    @media (min-width: 992px) {
      width: 50%;
    }

    input {
      padding: 0.25rem 0.5rem;

      &:focus {
        outline: none;
      }
    }

    .wp-block-search__button {
      background: $supremeBlue;
      color: $supremeWhite;
      border: none;
      transition: 300ms;

      &:hover {
        background: $supremeGreen;
      }
    }
  }

  .search-list {
    li {
      list-style: inside;
    }
  }
}
