.about {
  &-header {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-top: 5.3125rem 0 0;
    border-bottom: 1rem solid $supremeBlue;

    @media (min-width: 992px) {
      height: 50vh;
    }

    &-title {
      color: $supremeWhite;
      margin-bottom: 0;
    }
  }
  &-joining {
    background: $supremeGrey;

    .row {
      min-height: 30vh;
    }

    h3 {
      color: $supremeBlue;
      font-family: $supremeHeaderFont;
      font-size: 2.125rem;
    }

    p {
      color: $supremeMidGrey;
    }
  }
}
