.contact {
  padding-top: 0;

  @media (min-width: 992px) {
    padding-top: 2rem;
  }

  main {
    @media (min-width: 992px) {
      padding-right: 2rem;
      border-right: 0.0625rem solid #e1e1e1;
    }
  }

  aside {
    @media (min-width: 992px) {
      padding-left: 2rem;
    }
  }
}

ul {
  list-style: none;
  display: flex;
}

.nav-tabs {
  border: none;
  border-radius: 0;
  overflow: hidden;

  .nav-link {
    color: $supremeWhite;
    border-right: 0.0625rem solid $supremeAltBackground;
    border-radius: 0;
    font-family: $supremeSubHeaderFont;
    font-size: 0.875rem;
    text-transform: uppercase;

    &.active,
    &:hover {
      background: $supremeGreen;
      color: $supremeWhite;
      border: none;
      border-right: 0.0625rem solid $supremeAltBackground;
      border-radius: 0;
    }

    &:last-of-type {
      border-right: none !important;
    }
  }
}

.contact {
  &-map {
    height: 400px;

    nav {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;

      .nav {
        background: $supremeBlue;

        &-link {
          a {
            border-radius: 0;
          }
        }
      }
    }
  }

  &-form,
  &-team {
    &-title {
      color: #1a3e7c;
      margin-bottom: 1rem;
      padding-left: 1rem;
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }
  &-form {
    padding: 1rem;

    &-wrapper {
      padding: 0 0 1rem;
    }

    &-title {
      padding: 0;
    }
  }
  &-team {
    padding: 0;

    &-item {
      width: 33%;
      display: flex;
      padding: 1rem;
      flex-direction: column;

      &-title,
      &-email {
        font-family: $supremeSubHeaderFont;
        font-weight: 600;
      }
      &-title {
        color: #1e3d74;
      }
    }
  }
}

.contact-team-item .contact-team-item a {
  font-weight: 600;
}

.contact-aside {
  &-offices-header {
    color: #1e3d74;
    margin-block: 1rem;
    font-weight: 600;
  }

  &-office {
    margin: 0 0 2rem;

    &-title {
      color: #1e3d74;
      font-family: $supremeSubHeaderFont;
      font-weight: 600;

      &-address {
        font-size: 0.875rem;
      }
    }
    &-contact {
      &-link {
        font-weight: 600;
      }
    }
  }
}

form {
  padding: 0;

  p {
    margin: 0;
  }

  small {
    margin: 0 0 0.625rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  select,
  textarea {
    background: #f7f7f7;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
    border-radius: 0.1875rem;
    padding: 0.3125rem;
    font-family: $supremeSubHeaderFont;
    font-size: 1.1rem;
    line-height: 1.4rem;

    &::placeholder {
      color: $supremeMidGrey;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: $supremeMidGrey;
    }
    &::-ms-input-placeholder {
      color: $supremeMidGrey;
    }
  }
  .wpcf7-list-item {
    margin: 0;
  }
  textarea {
    height: 10rem;
  }
  option {
    color: $supremeGrey;
  }
  .wpcf7-submit {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem auto;

    @media (min-width: 992px) {
      width: auto;
      padding: 0.5rem 10rem;
    }
  }
}
