.blog {
  padding: 0;

  main {
    margin-top: 85px;
    font-family: $supremeHeaderFont;

    // @media (min-width: 992px) {
    //   margin-top: 69px;
    // }
  }

  .intro-seperator hr {
    width: calc(30% - 1rem);
  }

  // Navigation
  .navbar {
    background: rgba($supremeWhite, 0.9);

    .st0 {
      fill: $supremeBlue;
      transition: 500ms ease;
    }

    .btn-supreme-alt {
      color: $supremeBlue;
      border: 1px solid $supremeBlue;

      &:hover {
        background: $supremeBlue;
        color: $supremeWhite;
      }
    }

    // Menu
    &-nav {
      color: $supremeBlue;

      ul {
        li {
          font-size: 0.825rem;
          text-align: center;
          display: inline-block;
          margin: 0 1rem;
          transition: 300ms;
          font-weight: 400;

          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }

          strong {
            font-weight: 900;
            stroke: $supremeBlue;
            stroke-width: 2;
          }
        }
      }
    }
  }

  // Page Title
  &-header {
    background: $supremeBlue;
    color: $supremeWhite;
    margin-bottom: 0;
    padding-top: 1rem;
    border-bottom: 0.3125rem solid $supremeGreen;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
      color: $supremeWhite;
      margin: 1rem 0;
      font-size: 2.25rem;
      font-family: $supremeSubHeaderFont;
      text-align: center;
      text-transform: uppercase;

      @media (min-width: 768px) {
        font-size: 1.85rem;
        margin: 1rem 0;
      }
    }

    &-seperator {
      width: 100%;

      & > hr {
        width: 30%;
        height: 1px;
        margin-right: 0.5rem;
        margin-block: 1.125rem;

        @media (min-width: 992px) {
          width: 10%;
        }
      }

      &-left {
        margin-right: 0.5rem;
      }

      &-right {
        margin-left: 0.5rem;
      }
    }
  }

  &-post {
    padding: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (min-width: 768px) {
      margin-bottom: 4rem;
      padding: 0 50px;
    }

    // Featured Image
    &-img {
      position: relative;
      &-image {
        width: 100%;
      }
      &-overlay {
        background: rgba($supremeWhite, 0.4);
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s 500ms;

        h2 i {
          color: $supremeBlue;
          font-size: 4.5rem;
        }
      }

      &:hover .blog-post-img-overlay {
        opacity: 1;
        transition: 1s;
      }
    }

    // Article Header
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-author {
        height: 81px;
        width: 81px;
        background: white;
        padding: 0.625rem;
        border: 0.1625rem solid $supremeWhite;
        border-radius: 100%;
        position: relative;
        top: -40.5px;
        transition: 300ms ease;

        .cls-1 {
          fill: $supremeBlue;
        }
        .cls-2 {
          fill: url(#linear-gradient);
        }

        &:hover {
          background: $supremeBlue;

          .cls-1 {
            fill: $supremeWhite;
          }
        }
      }
      &-title {
        &-text {
          font-size: 2.25rem;
          color: $supremeBlue;
          transition: 300ms;
        }
        &:hover {
          text-decoration: none;

          .blog-post-header-title-text {
            color: $supremeGreen;
          }
        }
      }

      &-meta {
        font-size: 0.9315rem;
        font-family: $supremeSubHeaderFont;
        text-align: center;

        @media (min-width: 768px) {
        }

        &-date {
          display: inline-block;

          span {
            color: $supremeBlue;
            font: 1rem;
          }
        }

        &-categories {
          list-style: none;
          display: inline-block;

          &-category {
            font-size: 0.8125rem;
            font-weight: bold;
            display: inline-block;

            &:first-of-type {
              color: unset;
              font-weight: normal;
            }

            a {
              color: $supremeGreen;
              text-transform: capitalize;
              transition: 300ms;

              &:hover {
                color: $supremeBlue;
                text-decoration: none;
              }
            }

            span {
              font-family: serif;
            }
          }
        }
      }
    }

    // Article Body
    &-wrapper {
      margin-block: 0.85rem;
      font-size: 1.15rem;
      text-align: center;

      p {
        font-family: $supremeSubHeaderFont;
        font-size: 0.95rem;
        line-height: 1.8rem;

        @media (min-width: 768px) {
          font-size: 1.15rem;
          line-height: 2rem;
        }
      }

      &-button {
        font-family: $supremeSubHeaderFont;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  &-pagination {
    height: 4rem;

    .col-sm-6 {
      display: flex;
      flex-direction: row;
    }
    .page-numbers {
      background: $supremeGreen;
      color: $supremeWhite;
      height: 1rem;
      width: 1rem;
      margin-right: 0.5rem;
      padding: 1rem;
      border-radius: 1rem;
      font-family: "itc-avant-garde-gothic-pro";
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: 300ms;

      &:hover {
        background: $supremeBlue;
        text-decoration: none;
      }

      &.current {
        background: #dddddd;
        color: $supremeWhite;
        text-decoration: none;
      }

      &.next,
      &.prev {
        background: none;
        color: $supremeGreen;
        width: fit-content;

        &:hover {
          color: $supremeBlue;
        }
      }
    }
  }
}

.spanish-landing {
  &-cover {
    height: 40vh;
    min-height: unset !important;
    padding: 0 1rem;
    display: flex;

    @media (min-width: 992px) {
      height: 60vh;
    }

    .wp-block-cover__inner-container {
      width: fit-content;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &-logo {
      margin-top: 1.5rem;

      @media (min-width: 992px) {
        margin-top: 2.5rem;
      }
    }
  }

  &-text {
    padding: 1rem 0;

    &-border {
      border-top: 5px solid #63ba47;
    }

    @media (min-width: 992px) {
      padding: 1rem;
    }

    &-icons {
      padding: 1rem 0 !important;
      flex-direction: column;
      justify-content: space-between;
      align-items: center !important;
      // d-flex justify-content-evenly py-3 py-md-5

      @media (min-width: 992px) {
        padding: 2.5rem 0 0 !important;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start !important;
      }
    }
  }

  &-contact {
    @media (min-width: 992px) {
      max-width: 60%;
    }
  }
}
