.sf-landing-page {
  header {
    position: relative;
    width: 100%;
    z-index: 999;

    svg {
      height: 49px;

      @media (min-width: 992px) {
        height: 59px;
      }
    }

    .cls-1 {
      fill: $supremeWhite;
    }
    .cls-2 {
      fill: $supremeBlue;
    }
  }

  &-hero {
    background: url(https://sf034-wp:8890/wp-content/uploads/2021/10/bg_image-1500x895-1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
    position: relative;
    top: -107px;

    .container {
      height: 100%;

      .row {
        height: fit-content;
      }
    }

    &-overlay {
      background: linear-gradient(0deg, rgba($supremeBlack, 0.5), rgba($supremeBlack, 0.25));
      position: absolute;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      @media (min-width: 992px) {
        display: none;
      }
    }

    &-title {
      margin-bottom: 2.5rem;
      font-size: 3.1rem;
      font-weight: bold;

      @media (min-width: 992px) {
        margin: 0 0 1rem;
        font-size: 4.225rem;
        line-height: 3.8225rem;
      }
    }

    &-copy {
      color: $supremeWhite;
      margin-bottom: 2.5rem;
      font-size: 1.1rem;

      @media (min-width: 992px) {
        font-size: 1.4rem;
      }
    }

    &-button {
      background: $supremeGreen;
      color: $supremeWhite;
      width: fit-content;
      margin: 0 auto;
      padding: 0.625rem 2.25rem;
      border: none;
      border-radius: 2rem;
      font-family: $supremeSubHeaderFont;
      font-size: 1.1rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      transition: 300ms ease-in;

      @media (min-width: 992px) {
        margin: 0;
        font-size: 1.4rem;
      }

      &:hover {
        background: $supremeBlue;
        color: $supremeWhite;
        cursor: pointer;
      }

      i {
        color: $supremeWhite;
        margin-right: 0;
        margin-left: 0.8rem;
        font-size: 1.4rem;
      }
    }
  }

  &-body {
    color: $supremeDarkGrey;
    font-family: $supremeSubHeaderFont;

    h2 {
      color: $supremeBlue;
      margin-bottom: 1rem;
    }
    .lead {
      font-size: 1.4rem;
      font-weight: 600;
    }
    ul {
      padding-left: 1.25rem;
      list-style: disc;
      flex-direction: column;
    }
    li {
      margin-block: 0.5rem;
      font-weight: 300;
    }

    &-image {
      background: grey;
      width: 100%;
      height: 100%;
      margin-bottom: 1.5rem;
      object-fit: cover;
    }
  }

  &-accreds {
    background: $supremeGrey;
    padding: 2rem 0;

    h3 {
      color: $supremeBlue;
      margin-bottom: 0;
      font-size: 1.4rem;
      font-family: $supremeHeaderFont;
    }

    img {
      width: 33%;
      height: auto;
      padding: 1rem;

      @media (min-width: 992px) {
        width: auto;
        height: 2.625rem;
        padding: 0;
      }
    }
  }

  &-testimonials {
    background: $supremeGreen;
    color: $supremeWhite;

    .container,
    .row {
      height: 100%;
    }
    .row {
      position: relative;
    }

    &-title {
    }

    &-item {
      font-size: 1.25rem;
      text-align: center;

      &-scroll {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 25%;
        right: 20%;
        bottom: 0;
        left: 20%;

        .fas {
          color: $supremeWhite;
          font-size: 2rem;
        }
      }
    }
    .btn-supreme {
      background: $supremeBlue;

      &:hover {
        background: $supremeWhite;
        color: $supremeBlue;
      }
    }
  }

  .footer {
    background: $supremeBlue;
    color: $supremeWhite;
    padding: 2rem 0;

    &-left,
    &-right {
      p {
        margin: 0;
        text-transform: uppercase;
      }
    }
    &-left {
      p {
        font-weight: bold;
      }
      a {
        color: $supremeGreen;
        text-decoration: none;

        &:hover {
          color: $supremeWhite;
        }
      }
    }
    &-right {
      text-align: right;
      align-items: center;
      justify-content: center;

      @media (min-width: 992px) {
        justify-content: flex-end;
      }

      p {
        color: $supremeWhite;
      }

      ul {
        list-style: none;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0 0 0 1rem;

        li {
          margin: 0 0 0 1rem;

          a {
            transition: 330ms all ease;

            i {
              color: $supremeGreen;
              transition: 330ms all ease;
            }

            &:hover {
              i {
                color: $supremeWhite;
              }
            }
          }
        }
      }
    }
  }

  .modal {
    &-body {
      padding: 0 1rem;
    }

    &-content {
      background-color: $supremeGreen;
      border-radius: 2rem;
    }

    &-header {
      border-bottom: none;
      height: 0;
      padding: 0;
    }

    &-title {
      color: #fff;
      margin: 2rem 0 1rem;
      color: $supremeWhite;
      font-size: 1.7rem;
      text-align: center;
      font-weight: bold;
    }

    &-body {
      padding: 3rem;

      form {
        padding: 0;

        p {
          display: flex;
        }
      }

      input[type="text"],
      input[type="email"] {
        background: rgba($supremeBlack, 0.1);
        color: $supremeWhite;
        height: 3rem;
        padding: 0.5rem 1.5rem;
        border: 0.125rem solid $supremeWhite;
        border-radius: 0.125rem;

        &::placeholder {
          color: rgba($supremeWhite, 0.65);
        }

        &:focus {
          outline: none;
        }
      }

      textarea {
        background: rgba($supremeBlack, 0.1);
        color: $supremeWhite;
        width: 100%;
        margin: 0;
        padding: 0.5rem 1.5rem;
        border: 0.125rem solid $supremeWhite;
        border-radius: 0.125rem;
        font-size: 1.1rem;
        line-height: 1.4rem;

        &::placeholder {
          color: rgba($supremeWhite, 0.65);
        }

        &:focus {
          outline: none;
        }
      }

      .wpcf7-list-item {
        color: white;
        margin: 0;
        font-weight: 400;
      }

      input[type="submit"] {
        background: $supremeWhite;
        color: $supremeGreen;
        height: 4rem;
        margin-top: 1rem;
        padding: 0.5rem 5rem !important;
        border: none;
        border-radius: 2rem;
        font-family: "itc-avant-garde-gothic-pro", sans-serif;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        transition: 300ms ease;

        @media (min-width: 992px) {
          font-size: 1.25rem;
        }

        &:hover {
          background: $supremeBlue;
          color: $supremeWhite;
        }

        &:focus {
          outline: none;
        }
      }
    }

    button.close {
      background: #fff;
      opacity: 1;
      border-radius: 1.5rem;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -0.25rem;
      right: -0.25rem;
      text-transform: uppercase;

      i {
        color: $supremeBlack;
        margin: 0;
        font-size: 1.5rem;
      }
    }
  }

  h3.testimonials-title {
    width: fit-content;
    color: $supremeWhite;
    margin: 5rem auto 0;
    font-family: $supremeHeaderFont;
    font-size: 2.5rem;
  }
}
