.single {
  &-export,
  &-import {
    &-hero {
      color: white;
      height: 30vh;
      border-bottom: 1.5rem solid $supremeBlue;
      position: relative;
      overflow: hidden;

      @media (min-width: 992px) {
        color: white;
        height: auto;
        position: relative;
        overflow: hidden;
      }

      &-background {
        object-fit: cover;
        object-position: center;
        max-width: 100vw;
        height: 100%;

        @media (min-width: 992px) {
          width: 100vw;
        }
      }

      &-title {
        font-size: 2.625rem;

        @media (min-width: 992px) {
          font-size: 4.625rem;
        }
      }

      &-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-desc {
          color: #fff;
          margin: 1rem 0 0;
          text-transform: uppercase;
        }
      }
    }

    &-main,
    &-aside {
      padding-block: 1rem;
      @media (min-width: 992px) {
        padding-block: 3rem;
      }
    }

    &-main {
      display: flex;
      flex-direction: column;

      .intro-seperator-hr {
        width: calc(50% - 2rem);
      }

      @media (min-width: 992px) {
        padding-left: 5rem;
        padding-right: 5rem;
      }

      &-title {
        color: #1a3e7c;
        font-size: 2.25rem;
      }

      &-button {
        text-transform: uppercase;
      }

      ul {
        padding-left: 1.375rem;
        list-style: inside;
        list-style-image: url(https://supremefreight.com/wp-content/uploads/tick-img.png);
        flex-direction: column;

        li {
          font-family: $supremeSubHeaderFont;
          font-weight: 700;
        }
      }
    }

    &-aside {
      &-title {
        color: #1e3d75;
        margin-bottom: 1rem;
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
      &-list {
        &-item {
          font-family: "itc-avant-garde-gothic-pro", sans-serif;
          font-size: 1.125rem;
          text-transform: uppercase;
          font-weight: 300;
          list-style: none;

          &-link {
            color: #58585a;
            margin-bottom: 0.625rem;
            font-family: $supremeSubHeaderFont;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            &:hover {
              color: #63ba47;
              text-decoration: none;
            }
          }

          &-icon {
            margin-right: 0.625rem;
          }
        }
      }
    }

    @media (min-width: 992px) {
    }
  }
}

/**
.single-import-hero {
                color: white;
                height: 30vh;
                position: relative;
                overflow: hidden;
            }
            .single-import-hero-background {
                object-fit: cover;
                object-position: center;
                height: 100%;
            }
            .single-import-hero-title {
                font-size: 2.625rem;
            }
            
            @media (min-width: 992px) {
                .single-import-hero {
                    color: white;
                    height: auto;
                    position: relative;
                    overflow: hidden;
                }
                .single-import-hero-background {
                    width: 100vw;
                }
                .single-import-hero-title {
                    font-size: 4.625rem;
                }
            }
            .single-import-hero-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .single-import-hero-overlay-desc {
                color: #fff;
                margin: 1rem 0 0;
            }
            .single-import-main,
            .single-import-aside {
                padding-block: 1rem;
            }
            .single-import-main {
                display: flex;
                flex-direction: column;
            }
            @media (min-width: 992px) {
                .single-import-main,
                .single-import-aside {
                    padding-block: 3rem;
                }
                .single-import-main {
                    padding-left: 5rem;
                    padding-right: 5rem;
                }
            }

            .single-import-main-title {
                color: #1a3e7c;
                font-size: 2.25rem;
            }
            .single-import-main-button {
                text-transform: uppercase;
            }
            .single-import-aside-title {
                color: #1e3d75;
                margin-bottom: 1rem;
                font-size: 18px;
                line-height: 20px;
                font-weight: 600;
                text-transform: uppercase;
            }
            .single-import-aside-list {
            }
            .single-import-aside-list-item {
                font-family: "itc-avant-garde-gothic-pro", sans-serif;
                font-size: 1.125rem;
                text-transform: uppercase;
                font-weight: 300;
                list-style: none;
            }
            .single-import-aside-list-item-link {
                color: #58585a;
                margin-bottom: 0.625rem;
                text-transform: uppercase;
                display: flex;
                align-items: center;
            }
            .single-import-aside-list-item-link:hover {
                color: #63ba47;
                text-decoration: none;
            }
            .single-import-aside-list-item-icon {
                margin-right: 0.625rem;
            }
*/
