.single {
  // Navigation
  margin-top: 0;

  @media (min-width: 992px) {
    margin-top: 4.375rem;
  }

  .navbar {
    .st0 {
      fill: $supremeBlue;
      transition: 500ms ease;
    }

    .btn-supreme-alt {
      color: $supremeBlue;
      border: 1px solid $supremeBlue;

      &:hover {
        background: $supremeBlue;
        color: $supremeWhite;
      }
    }

    // Menu
    &-nav {
      color: $supremeBlue;

      ul {
        li {
          font-size: 0.825rem;
          text-align: center;
          display: inline-block;
          margin: 0 1rem;
          transition: 300ms;
          font-weight: 400;

          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }

          strong {
            font-weight: 900;
            stroke: $supremeBlue;
            stroke-width: 2;
          }
        }
      }
    }
  }

  // Main
  .blog-post {
    padding-top: 5.3125rem;
    border-right: 1px solid #e1e1e1;
    font-family: $supremeHeaderFont;

    @media (min-width: 992px) {
      padding-top: 5.3125rem;
    }

    &-container {
      padding: 0.9375rem;
      @media (min-width: 992px) {
        padding: 0;
      }
    }

    &-title {
      color: $supremeBlue;
      margin: 0;
      font-size: 2.25rem;
      line-height: 2rem;
      text-align: center;

      @media (min-width: 992px) {
        padding: 2rem 0 1rem;
        text-align: left;
      }
    }

    &-header-meta {
      text-align: center;

      @media (min-width: 992px) {
        padding: 0;
        text-align: left;
      }

      &-categories-category {
        text-transform: capitalize;
        text-align: center;

        @media (min-width: 992px) {
          text-align: left;
        }

        &::after {
          content: ",";
          padding-left: 0px;
          position: relative;
          left: -3px;
          color: $supremeBlack;
          font-weight: 400;
        }

        &:first-of-type {
          text-transform: lowercase;

          &::after {
            content: "";
          }
        }
        &:last-of-type {
          &::after {
            content: "";
          }
        }
      }
    }

    &-content {
      color: $supremeDarkGrey;
      font-family: $supremeSubHeaderFont;
      font-weight: 400;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $supremeBlue;
        font-family: $supremeHeaderFont;
      }

      h2 {
        padding: 1.5rem 0 0.5rem;
        font-size: 1.75rem;
        line-height: 1.1em;
      }

      h3 {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        color: #222;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        line-height: 1.375em;
        font-family: $supremeSubHeaderFont;
        font-weight: 500;
        letter-spacing: 0.040625rem;
      }
    }
  }

  .blog-sidebar {
    padding: 1rem 1rem 0;

    @media (min-width: 992px) {
      padding: 4.375rem 0 0 3.125rem;
    }

    .wp-block-latest-posts,
    .wp-block-categories,
    .wp-block-archives {
      flex-direction: column;
    }
    .wp-block-categories,
    .wp-block-archives {
      padding-left: 1.25rem;
    }
    .widget_recent_entries,
    .widget_categories,
    .widget_archive {
      list-style: none;
      padding: 0 0 1rem;

      ul {
        list-style: inside;
        list-style-image: url(https://supremefreight.com/wp-content/uploads/sidebar-li-arrow.png);
        flex-direction: column;

        li {
          margin-block: 0.2rem;

          a {
            color: $supremeBlue;
            font-family: $supremeSubHeaderFont;
            transition: 300ms;

            &:hover {
              color: $supremeGreen;
              text-decoration: none;
            }
          }
        }
      }

      &::before {
        font-family: "itc-avant-garde-gothic-pro", sans-serif;
        text-transform: uppercase;
        color: $supremeBlue;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
        letter-spacing: 0.0625rem;
      }
    }

    .widget_recent_entries {
      ul {
        li {
          margin-bottom: 1rem;
          list-style: none;
          list-style-image: none;

          &:last-of-type {
            margin-bottom: 0;
          }

          a {
            color: $supremeBlue;
            font-family: $supremeHeaderFont;
            font-size: 1.5rem;
            line-height: 1.25rem;
          }
        }
      }

      &::before {
        content: "Latest News";
      }
    }
    .widget_categories {
      &::before {
        content: "Categories";
      }
    }
    .widget_archive {
      &::before {
        content: "Archives";
      }
    }
  }
}
