@import "../abstracts/variables";

.useful-info {
  padding: 2rem 0.625rem;

  @media (min-width: 992px) {
    padding: 1rem 0.625rem 4.365rem;
  }

  &-item {
    background: $supremeAltBackground;
    padding: 2rem;
    border: 0.0625rem solid $supremeGrey;

    &-img {
      img {
        width: 100%;
        box-shadow: 0 0 0.625rem 0 rgba($supremeBlack, 0.3);
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-title {
      color: $supremeBlue;
      margin: 0;
      font-family: $supremeSubHeaderFont;
      font-size: 1.4rem;
    }

    hr {
      width: 100%;
    }

    &-button {
      font-weight: bold;
      text-transform: uppercase;
      i {
        color: $supremeWhite;
      }
    }
  }
}
