// Header - Playfair Display
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

// Sub Header - Avant Garde Gothic
@import url("https://use.typekit.net/xla1jzp.css");

// Body - Open Sans
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap");
