// Colours
$supremeGreen: #63ba47;
$supremeBlue: #1e3d74;
$supremeBlack: #0a0a0a;
$supremeWhite: #fff;
$supremeGrey: #f9f9f9;
$supremeMidGrey: #666;
$supremeDarkGrey: #58585a;
$supremeAltBackground: #f0f0f0;

// Fonts
$supremeHeaderFont: "Playfair Display", serif;
$supremeSubHeaderFont: "itc-avant-garde-gothic-pro", sans-serif;
$supremeBodyFont: "Open Sans", sans-serif;
