* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: $supremeBodyFont;
}

.sf {
  &-blue {
    color: $supremeBlue;
  }
  &-green {
    color: $supremeGreen;
  }

  &-white {
    color: $supremeWhite;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $supremeHeaderFont;
  letter-spacing: -1px;
}

h1 {
  font-size: 4.625rem;
}

h2 {
  font-size: 38px;
  line-height: 36px;
}

h3 {
  color: #58585a;
  font-family: $supremeSubHeaderFont;
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

p,
small,
sup,
sub,
li {
  color: $supremeDarkGrey;
  margin-block: 0.625rem;
  font-family: $supremeSubHeaderFont;
  font-weight: 400;

  .lead {
    color: $supremeBlack;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

ul {
  list-style-position: outside !important;
  flex-direction: column;
}

a {
  color: $supremeGreen;
  transition: 300ms;

  &:hover {
    color: $supremeBlue;
  }
}

i {
  color: $supremeGreen;
  margin-right: 5px;
  font-size: 22px;
  position: relative;
  top: 2px;
}

section {
  padding: 4.365rem 0.625rem;
}
section.call2action-block,
section.blog-header {
  padding: 0;
}

.bg {
  &-blue {
    background: $supremeBlue;
  }

  &-green {
    background: $supremeGreen;
  }

  &-white {
    background: $supremeWhite;
  }
}

#main {
  margin-top: 85px;

  &-alt {
    position: relative;
    margin-top: 59px;

    @media (min-width: 992px) {
      margin-top: 85px;
      min-height: calc(100vh - 85px - 390px);
    }
  }
}

body.admin-bar {
  #main-alt {
    position: relative;
    top: 32px;
  }
}
#wpadminbar {
  ul {
    display: block;
  }
}

.intro-seperator {
  width: 100%;
  margin: 1rem 0;

  &-icon {
    margin: 0 0.5rem;
  }

  &-hr {
    width: 30%;

    @media (min-width: 992px) {
      width: 10%;
    }
  }
}
