@import "../abstracts/variables";

.intro {
  &-block {
    padding: 2rem 0.875rem 3.125rem;

    @media (min-width: 992px) {
      padding: 6rem 0 3.125rem;
    }

    p {
      max-width: 1200px;

      &.lead {
        font-weight: 400;
      }
    }
  }

  &-title {
    color: $supremeBlue;
  }

  &-sub-title {
    font-family: $supremeSubHeaderFont;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.03125rem;
  }

  &-seperator {
    width: 100%;
    margin: 1rem 0;

    &-icon {
      margin: 0 0.5rem;
    }

    &-hr {
      width: 10%;
    }
  }

  &-btn {
    background: $supremeGreen;
    color: $supremeWhite;
    margin: 0;
    padding: 0.75rem 1rem;
    font-size: 14px;
    font-weight: 600;
    transition: ease 300ms;

    &:hover {
      background: $supremeBlue;
      color: $supremeWhite;
      text-decoration: none;
      opacity: 0.9;
    }
  }

  &-accreditaion {
    padding: 6rem 0 0;

    h3 {
      color: $supremeBlack;
      margin-bottom: 1rem;
      font-family: $supremeSubHeaderFont;
      letter-spacing: 0.0625rem;
    }

    &-logos {
      margin: 0 1rem;

      @media (min-width: 767px) {
        justify-content: center;
      }

      &-logo {
        margin-bottom: 1.5rem;
      }
    }
  }
}
