@import "../abstracts/variables";

.blog {
  background: $supremeWhite;
  color: $supremeBlack;
  padding: 2rem;

  h2 {
    color: $supremeBlue;
  }

  h3 {
    a {
      color: $supremeBlack;
      font-family: $supremeSubHeaderFont;
      font-size: 1.5rem;
      transition: all 300ms ease;

      &:hover {
        color: $supremeGreen;
        text-decoration: none;
      }
    }
  }

  small {
    font-family: $supremeSubHeaderFont;
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }

  &-section {
    &-tags,
    &-categories {
      margin-block: 0.1rem;
      font-size: 0.8rem;
      color: #58585a;
      font-family: $supremeSubHeaderFont;
      font-size: 0.8125rem;
      line-height: 0.75rem;
      text-transform: capitalize;

      strong {
        font-weight: 700;
      }

      a {
        color: $supremeGreen;
        font-weight: bold;

        &:hover {
          color: $supremeBlue;
          text-decoration: none;
        }
      }
    }
  }

  .btn-supreme {
    padding: 0.375rem 0.75rem;
    font-family: $supremeSubHeaderFont;
    font-size: 0.75rem;
    font-weight: 700 !important;
    text-transform: uppercase;
  }
}
