.block-directors {
  padding: 1rem;
}
.block-directors p {
  margin-bottom: 1rem;
  line-height: 1.625rem;
}
.block-directors p.lead {
  color: #0a0a0a;
}
@media (min-width: 992px) {
  .block-directors {
    padding: 3rem;
  }
}
.block-directors-title {
  color: #1e3d74;
  font-family: "Playfair Display", serif;
  font-size: 1.875rem;
}
.block-directors .btn-supreme {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}
.block-directors .modal button.close {
  background: #1e3d74;
  width: 3rem;
  height: 3rem;
  border: 0.0625rem solid #fff;
  border-radius: 1.5rem;
  text-transform: uppercase;
  transition: 300ms;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -0.25rem;
  right: -0.25rem;
  z-index: 9999;
}
.block-directors .modal button.close span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-directors .modal button.close i {
  color: #fff;
  margin-right: 0 !important;
  top: 0;
}
.block-directors .modal-open {
  background: rgba(30, 61, 116, 0.15);
  overflow-x: hidden;
  overflow-y: auto;
}
.block-directors .modal-content {
  text-align: center;
}
.block-directors .modal-content .intro-seperator-hr {
  width: calc(50% - 1rem);
}
.block-directors .modal-content p {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
}
.block-directors .modal-header {
  color: #1e3d74;
  height: 0;
  border-bottom: 0;
  padding: 0;
  position: relative;
}
.block-directors .modal-header p {
  color: #f9f9f9;
}
.block-directors .modal-title {
  font-size: 1.875rem;
}
.block-directors .modal-body {
  text-align: center;
}
.block-directors .modal-body h4 {
  color: #1e3d74;
  font-size: 1.875rem;
  font-family: "Playfair Display", serif;
  line-height: 1.625rem;
}
.block-directors .modal-body p {
  color: #666;
  font-size: 1rem;
  line-height: 1.625rem;
}
.block-directors .modal-body p.lead {
  color: #0a0a0a;
  font-size: 1.125rem;
  font-weight: 500;
}

/*# sourceMappingURL=component-directors.css.map */
