.call2action-block {
  width: 100%;
}
.call2action-contact {
  background: #1e3d74;
  color: #fff;
  padding: 1.75rem 0;
  position: relative;
}
.call2action-contact-phone, .call2action-contact-email {
  margin: 0 2rem;
}
.call2action-contact-phone p, .call2action-contact-email p {
  color: #fff;
  margin-bottom: 0;
  font-weight: 500;
}
.call2action-contact-phone {
  margin-bottom: 1rem;
}
@media (min-width: 767px) {
  .call2action-contact-phone {
    margin-bottom: 0rem;
  }
}
.call2action-contact-anniversary {
  height: 8.125rem;
  width: 8.125rem;
  position: absolute;
  right: 10px;
  top: -20px;
}
.call2action-languages {
  background: #f9f9f9;
  color: #1e3d74;
  padding: 1.6rem 0;
}
.call2action-languages-language {
  margin: 0 1rem 1rem;
  list-style: none;
}
.call2action-languages-language:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 767px) {
  .call2action-languages-language {
    margin-bottom: 0;
  }
}
.call2action-languages-language img,
.call2action-languages-language p {
  color: #1e3d74;
  margin-left: 0.5rem;
  max-height: 30px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 500;
  display: inline-block;
}

/*# sourceMappingURL=component-cta.css.map */
