.hero-block {
  height: calc(100vh - 202px);
  padding: 0;
  overflow: hidden;
}
.hero-not-background {
  color: #000;
}
.hero-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero-background-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-background-overlay {
  background-color: rgba(10, 10, 10, 0.05);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-title {
  color: #fff;
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 767px) {
  .hero-title {
    text-align: center;
    font-size: 4.625rem;
    line-height: 70px;
  }
}

/*# sourceMappingURL=component-hero.css.map */
