@import "../abstracts/variables";

.import,
.export {
  a img {
    transition: 300ms ease;
  }

  a:hover img {
    transform: scale(0.9);
  }

  &-seperator {
    width: 100%;

    & > hr {
      width: calc(50% - 2rem);
      height: 1px;
      margin-right: 0.5rem;
      margin-block: 1.125rem;

      @media (min-width: 992px) {
        width: 10%;
      }
    }

    &-left {
      margin-right: 0.5rem;
    }

    &-right {
      margin-left: 0.5rem;
    }
  }

  &-section {
    padding: 6rem 0;

    &-content {
      padding: 0.5rem 1.25rem 1.25rem;

      a {
        img {
          transition: 300ms ease;
        }

        &:hover {
          text-decoration: none;
          opacity: 0.7;
          transition: 300ms;

          img {
            transform: scale(0.9);
          }
        }
      }

      h4 {
        color: $supremeBlack;
        font-family: $supremeSubHeaderFont;
        font-size: 18px;
        line-height: 20px;
      }

      p {
        font-size: 0.8125rem;
      }
    }
  }

  .import {
    &-block {
      background: #f7f7f7;
    }
  }

  .export {
    &-block {
      background: $supremeWhite;
    }
  }
}

.single-export {
  &-hero {
    color: white;
    position: relative;
    &-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-desc {
        color: #fff;
        margin: 1rem 0 0;
      }
    }
  }
}

.import-section {
  background: $supremeGrey;
}

.single-export-hero .single-export-main,
.single-export-aside {
  padding-block: 1rem;
}
.single-export-main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .single-export-main,
  .single-export-aside {
    padding-block: 3rem;
  }
  .single-export-main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.single-export-main-title {
  color: #1a3e7c;
  font-size: 2.25rem;
}
.single-export-main-button {
  text-transform: uppercase;
  margin: 0 auto;
}
.single-export-aside-title {
  color: #1e3d75;
  margin-bottom: 1rem;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.single-export-aside-list {
}
.single-export-aside-list-item {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 300;
  list-style: none;
}
.single-export-aside-list-item-link {
  color: #58585a;
  margin-bottom: 0.625rem;
  font-family: $supremeHeaderFont, serif;
  display: flex;
  align-items: center;
}
.single-export-aside-list-item-link:hover {
  color: #63ba47;
  text-decoration: none;
}
.single-export-aside-list-item-icon {
  margin-right: 0.625rem;
}
