@import "../abstracts/variables";

.text-bar-section {
  background: $supremeBlue;
  color: $supremeWhite;
  padding-block: 1.875rem;

  h6 {
    margin: 0;
    font-family: $supremeSubHeaderFont;
    letter-spacing: 0.125rem;
  }
}
