@import "../abstracts/variables";

.block-directors {
  padding: 1rem;

  p {
    margin-bottom: 1rem;
    line-height: 1.625rem;

    &.lead {
      color: $supremeBlack;
    }
  }

  @media (min-width: 992px) {
    padding: 3rem;
  }

  &-title {
    color: $supremeBlue;
    font-family: $supremeHeaderFont;
    font-size: 1.875rem;
  }

  &-role {
  }

  .btn-supreme {
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .modal {
    button.close {
      background: $supremeBlue;
      width: 3rem;
      height: 3rem;
      border: 0.0625rem solid $supremeWhite;
      border-radius: 1.5rem;
      text-transform: uppercase;
      transition: 300ms;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -0.25rem;
      right: -0.25rem;
      z-index: 9999;

      span {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      i {
        color: $supremeWhite;
        margin-right: 0 !important;
        top: 0;
      }
    }

    &-open {
      background: rgba($supremeBlue, 0.15);
      overflow-x: hidden;
      overflow-y: auto;
    }
    &-content {
      text-align: center;

      .intro-seperator-hr {
        width: calc(50% - 1rem);
      }

      p {
        font-family: $supremeSubHeaderFont;
      }
    }

    &-header {
      color: #1e3d74;
      height: 0;
      border-bottom: 0;
      padding: 0;
      position: relative;

      p {
        color: $supremeGrey;
      }
    }

    &-title {
      font-size: 1.875rem;
    }

    &-body {
      text-align: center;

      h4 {
        color: $supremeBlue;
        font-size: 1.875rem;
        font-family: $supremeHeaderFont;
        line-height: 1.625rem;
      }
      p {
        color: $supremeMidGrey;
        font-size: 1rem;
        line-height: 1.625rem;

        &.lead {
          color: $supremeBlack;
          font-size: 1.125rem;
          font-weight: 500;
        }
      }
    }
  }
}
