.testimonials {
  height: 650px;
  position: relative;
}
.testimonials-overlay {
  background: rgba(30, 61, 116, 0.3);
  position: absolute;
  inset: 0;
}
.testimonials .container,
.testimonials .carousel,
.testimonials .carousel-item,
.testimonials .carousel-caption,
.testimonials .carousel-item,
.testimonials .carousel-item-row {
  height: 100%;
}
.testimonials .carousel-item {
  height: 100%;
  overflow: hidden;
}
.testimonials .carousel-item h1,
.testimonials .carousel-item h2,
.testimonials .carousel-item h3,
.testimonials .carousel-item h4,
.testimonials .carousel-item h5,
.testimonials .carousel-item h6,
.testimonials .carousel-item p,
.testimonials .carousel-item small {
  color: #fff;
}
.testimonials .carousel-item h1,
.testimonials .carousel-item h2,
.testimonials .carousel-item h3,
.testimonials .carousel-item h4,
.testimonials .carousel-item h5,
.testimonials .carousel-item h6 {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
}
.testimonials .carousel-item p {
  font-family: "Playfair Display", serif;
  font-size: 1.625rem;
  line-height: 1.875rem;
  font-weight: 400;
}
.testimonials .carousel-item small {
  display: block;
}
.testimonials .carousel-inner {
  height: 100%;
}
.testimonials .carousel-caption .row {
  height: 100%;
}
.testimonials .carousel-caption .row img {
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=component-testimonials.css.map */
