.bdac-iframe-locations {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: 25% 75%;
}
.bdac-iframe-locations h3 {
  margin-top: 0;
}
.bdac-iframe-locations-count {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.bdac-iframe-locations-count h3 {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 2.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bdac-iframe-locations-details {
  padding: 1rem;
  border: 0.0625rem solid #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

/*# sourceMappingURL=component-iframe.css.map */
