@import "../abstracts/variables";

.testimonials {
  &-section {
    // height: fit-content;
    height: 650px;
    position: relative;

    .container,
    .carousel,
    .carousel-item,
    .carousel-caption,
    .carousel-item,
    .carousel-item-row {
      height: 100%;
    }

    .carousel {
      height: 100%;

      &-inner {
        height: 100%;
      }

      &-item {
        height: 100%;
        overflow: hidden;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        small {
          color: $supremeWhite;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: $supremeSubHeaderFont;
        }

        p {
          font-family: $supremeHeaderFont;
          font-size: 1.625rem;
          line-height: 1.875rem;
          font-weight: 400;
        }

        small {
          display: block;
        }
      }

      &-inner {
        height: 100%;
      }

      &-caption {
        .row {
          height: 100%;

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }

      &-control-prev,
      &-control-next {
        height: 100%;
      }
    }
  }

  &-overlay {
    background: rgba($supremeBlue, 0.3);
    position: absolute;
    inset: 0;
  }
}
