.blog {
  background: #fff;
  color: #0a0a0a;
  padding: 2rem;
}
.blog h2 {
  color: #1e3d74;
}
.blog h3 a {
  color: #0a0a0a;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-size: 1.5rem;
  transition: all 300ms ease;
}
.blog h3 a:hover {
  color: #63ba47;
  text-decoration: none;
}
.blog small {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}
.blog-section-tags, .blog-section-categories {
  margin-block: 0.1rem;
  font-size: 0.8rem;
  color: #58585a;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-size: 0.8125rem;
  line-height: 0.75rem;
  text-transform: capitalize;
}
.blog-section-tags strong, .blog-section-categories strong {
  font-weight: 700;
}
.blog-section-tags a, .blog-section-categories a {
  color: #63ba47;
  font-weight: bold;
}
.blog-section-tags a:hover, .blog-section-categories a:hover {
  color: #1e3d74;
  text-decoration: none;
}
.blog .btn-supreme {
  padding: 0.375rem 0.75rem;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-size: 0.75rem;
  font-weight: 700 !important;
  text-transform: uppercase;
}

/*# sourceMappingURL=component-blog.css.map */
