.text-bar-section {
  background: #1e3d74;
  color: #fff;
  padding-block: 1.875rem;
}
.text-bar-section h6 {
  margin: 0;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  letter-spacing: 0.125rem;
}

/*# sourceMappingURL=component-textbar.css.map */
