@import "../abstracts/variables";

.call2action {
  &-block {
    width: 100%;
  }

  &-contact {
    background: $supremeBlue;
    color: $supremeWhite;
    padding: 1.75rem 0;
    position: relative;

    &-phone,
    &-email {
      margin: 0 2rem;

      p {
        color: $supremeWhite;
        margin-bottom: 0;
        font-weight: 500;
      }
    }

    &-phone {
      margin-bottom: 1rem;

      @media (min-width: 767px) {
        margin-bottom: 0rem;
      }
    }

    &-anniversary {
      height: 8.125rem;
      width: 8.125rem;
      position: absolute;
      right: 10px;
      top: -20px;
    }
  }

  &-languages {
    background: $supremeGrey;
    color: $supremeBlue;
    padding: 1.6rem 0;

    &-language {
      margin: 0 1rem 1rem;
      list-style: none;

      &:last-of-type {
        margin-bottom: 0;
      }

      @media (min-width: 767px) {
        margin-bottom: 0;
      }

      img,
      p {
        color: $supremeBlue;
        margin-left: 0.5rem;
        max-height: 30px;
        margin-bottom: 0;
        font-size: 1.25rem;
        font-weight: 500;
        display: inline-block;
      }
    }
  }
}
