@import "../abstracts/variables";

.bdac-iframe {
  &-locations {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: 25% 75%;

    h3 {
      margin-top: 0;
    }

    &-count {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      h3 {
        width: 2.5rem;
        height: 2.5rem;
        border: 0.0625rem solid #e1e1e1;
        border-radius: 2.5rem;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-details {
      padding: 1rem;
      border: 0.0625rem solid #e1e1e1;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }
  }
}
