@import "../abstracts/variables";

.hero {
  &-block {
    height: calc(100vh - 202px);
    padding: 0;
    overflow: hidden;

    @media (min-width: 992px) {
      height: calc(100vh - 176px);
    }
  }

  &-not-background {
    color: #000;
  }

  &-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-image {
      width: auto;
      height: auto;
      object-fit: cover;
      object-position: top;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      @media (min-width: 992px) {
        width: 100%;
      }
    }

    &-overlay {
      background-color: rgba($supremeBlack, 0.05);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &-title {
    color: $supremeWhite;
    font-size: 2.25rem;
    line-height: 2rem;

    @media (min-width: 767px) {
      text-align: center;
      font-size: 4.625rem;
      line-height: 70px;
    }
  }
}
