.import a img,
.export a img {
  transition: 300ms ease;
}
.import a:hover img,
.export a:hover img {
  transform: scale(0.9);
}
.import-seperator,
.export-seperator {
  width: 100%;
}
.import-seperator > hr,
.export-seperator > hr {
  width: calc(50% - 2rem);
  height: 1px;
  margin-right: 0.5rem;
  margin-block: 1.125rem;
}
@media (min-width: 992px) {
  .import-seperator > hr,
  .export-seperator > hr {
    width: 10%;
  }
}
.import-seperator-left,
.export-seperator-left {
  margin-right: 0.5rem;
}
.import-seperator-right,
.export-seperator-right {
  margin-left: 0.5rem;
}
.import-section,
.export-section {
  padding: 6rem 0;
}
.import-section-content,
.export-section-content {
  padding: 0.5rem 1.25rem 1.25rem;
}
.import-section-content a img,
.export-section-content a img {
  transition: 300ms ease;
}
.import-section-content a:hover,
.export-section-content a:hover {
  text-decoration: none;
  opacity: 0.7;
  transition: 300ms;
}
.import-section-content a:hover img,
.export-section-content a:hover img {
  transform: scale(0.9);
}
.import-section-content h4,
.export-section-content h4 {
  color: #0a0a0a;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-size: 18px;
  line-height: 20px;
}
.import-section-content p,
.export-section-content p {
  font-size: 0.8125rem;
}
.import .import-block,
.export .import-block {
  background: #f7f7f7;
}
.import .export-block,
.export .export-block {
  background: #fff;
}

.single-export-hero {
  color: white;
  position: relative;
}
.single-export-hero-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.single-export-hero-overlay-desc {
  color: #fff;
  margin: 1rem 0 0;
}

.import-section {
  background: #f9f9f9;
}

.single-export-hero .single-export-main,
.single-export-aside {
  padding-block: 1rem;
}

.single-export-main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .single-export-main,
  .single-export-aside {
    padding-block: 3rem;
  }
  .single-export-main {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.single-export-main-title {
  color: #1a3e7c;
  font-size: 2.25rem;
}

.single-export-main-button {
  text-transform: uppercase;
  margin: 0 auto;
}

.single-export-aside-title {
  color: #1e3d75;
  margin-bottom: 1rem;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.single-export-aside-list-item {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 300;
  list-style: none;
}

.single-export-aside-list-item-link {
  color: #58585a;
  margin-bottom: 0.625rem;
  font-family: "Playfair Display", serif, serif;
  display: flex;
  align-items: center;
}

.single-export-aside-list-item-link:hover {
  color: #63ba47;
  text-decoration: none;
}

.single-export-aside-list-item-icon {
  margin-right: 0.625rem;
}

/*# sourceMappingURL=component-import-export.css.map */
