.intro-block {
  padding: 2rem 0.875rem 3.125rem;
}
@media (min-width: 992px) {
  .intro-block {
    padding: 6rem 0 3.125rem;
  }
}
.intro-block p {
  max-width: 1200px;
}
.intro-block p.lead {
  font-weight: 400;
}
.intro-title {
  color: #1e3d74;
}
.intro-sub-title {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.03125rem;
}
.intro-seperator {
  width: 100%;
  margin: 1rem 0;
}
.intro-seperator-icon {
  margin: 0 0.5rem;
}
.intro-seperator-hr {
  width: 10%;
}
.intro-btn {
  background: #63ba47;
  color: #fff;
  margin: 0;
  padding: 0.75rem 1rem;
  font-size: 14px;
  font-weight: 600;
  transition: ease 300ms;
}
.intro-btn:hover {
  background: #1e3d74;
  color: #fff;
  text-decoration: none;
  opacity: 0.9;
}
.intro-accreditaion {
  padding: 6rem 0 0;
}
.intro-accreditaion h3 {
  color: #0a0a0a;
  margin-bottom: 1rem;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  letter-spacing: 0.0625rem;
}
.intro-accreditaion-logos {
  margin: 0 1rem;
}
@media (min-width: 767px) {
  .intro-accreditaion-logos {
    justify-content: center;
  }
}
.intro-accreditaion-logos-logo {
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=component-intro.css.map */
