@import "../abstracts/variables";

.why-us {
  &-block {
    padding: 6rem 0 3.125rem;
  }

  &-card {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-img {
      height: 6rem;
      width: 6rem;
      margin-bottom: 1.5rem;
    }

    &-title {
      color: $supremeBlue;
      margin-bottom: 0.5rem;
      font-size: 1.375rem;
      font-weight: bold;
    }

    &-copy {
      color: $supremeDarkGrey;
      padding: 0 1.5rem;
      font-family: $supremeSubHeaderFont;
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
    }
  }
}
