.why-us-block {
  padding: 6rem 0 3.125rem;
}
.why-us-card {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-us-card-img {
  height: 6rem;
  width: 6rem;
  margin-bottom: 1.5rem;
}
.why-us-card-title {
  color: #1e3d74;
  margin-bottom: 0.5rem;
  font-size: 1.375rem;
  font-weight: bold;
}
.why-us-card-copy {
  color: #58585a;
  padding: 0 1.5rem;
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}

/*# sourceMappingURL=why-us.css.map */
